config/

capstoneProject/mycapstone/api/auth.py 

capstoneProject/mycapstone/api/views/api_views.py
capstoneProject/mycapstone/api/views/auth_views.py

capstoneProject/mycapstone/api/token.pickle
capstoneProject/mycapstone/api/exam_schedule.csv
db.sqlite3
output.sql